name: CI

on:
  push:
    branches:
    - main
    tags:
    - '**'
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Check built command line
      run: |
        uv run --python 3.14 djade --help

  build:
    name: Build os=${{ matrix.os }} target=${{ matrix.target }} ml=${{ matrix.manylinux || 'auto' }}
    if:
      startsWith(github.ref, 'refs/tags/')
      || github.ref == 'refs/heads/main'
      || contains(github.event.pull_request.labels.*.name, 'Build')
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            target: x86_64
          - os: linux
            target: aarch64
          - os: linux
            target: armv7

          # musllinux
          - os: linux
            manylinux: musllinux_1_1
            target: x86_64
          - os: linux
            manylinux: musllinux_1_1
            target: aarch64

          # macos
          - os: macos
            target: x86_64
          - os: macos
            target: aarch64

          # windows
          - os: windows
            target: x86_64
          - os: windows
            target: aarch64

    runs-on:
      ${{
        (matrix.os == 'linux' && matrix.target == 'aarch64' && 'ubuntu-24.04-arm')
        || (matrix.os == 'linux' && matrix.target == 'armv7' && 'ubuntu-24.04-arm')
        || (matrix.os == 'linux' && 'ubuntu-24.04')
        || (matrix.os == 'macos' && matrix.target == 'aarch64' && 'macos-15')
        || (matrix.os == 'macos' && matrix.target == 'x86_64' && 'macos-15-intel')
        || (matrix.os == 'windows' && matrix.target == 'aarch64' && 'windows-11-arm')
        || (matrix.os == 'windows' && 'windows-2022')
        || 'unknown'
      }}

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Build sdist
      if: ${{ matrix.os == 'linux' && matrix.target == 'x86_64' }}
      uses: PyO3/maturin-action@v1
      with:
        command: sdist
        args: --out dist

    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.target }}
        manylinux: ${{ matrix.manylinux || 'auto' }}
        args: --release --locked --out dist

    - run: ${{ (matrix.os == 'windows' && 'dir') || 'ls -lh' }} dist/

    - uses: actions/upload-artifact@v6
      with:
        name: dist-${{ matrix.os }}-${{ matrix.target }}-${{ matrix.manylinux || 'auto' }}
        path: dist

  release:
    needs: [tests, build]
    if: success() && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    environment: release

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: get dist artifacts
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true
          pattern: dist-*
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
